# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# React / Node
codex_est/
**/node_modules/
**/.vite/
**/dist/
**/build/
**/.npm/

# Rust
**/target/

# Python
__pycache__/
*.py[cod]

# Codex
docker-compose.codex.yml

# database
**/server/db/db_data/
service/db/.gitkeep
service/db/db_data/
